#board {
  position:relative;
  left:600px;
}

#board div{
  position:absolute;
  border: 1px solid;
  width:50px;
  height:50px;
}

#board2 {
  position:relative;
}

#board2 div{
  position:absolute;
  border: 1px solid;
  width:50px;
  height:50px;
}